[submodule "vasm-mirror"]
	path = vasm-mirror
	url = git@github.com:mbitsnbites/vasm-mirror.git
[submodule "rln"]
	path = rln
	url = http://shamusworld.gotdns.org/git/rln
[submodule "rmac"]
	path = rmac
	url = git@github.com:mwenge/rmac.git
